# ======================
# Python 기본
# ======================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ======================
# 가상환경
# ======================
venv/
.env/
.venv/
env/
ENV/
*.env


# audio
*.mp3
*.wav